__pycache__/
*.pyc
.venv/
venv/

.env
local_secrets.py
tokens.json
serviceAccountKey.json
credentials.py

app_open.ps1
app.py
ed_service.py
index.html
backup.html

*

!.gitignore

!notebooks/

notebooks/*
!notebooks/*notebooks.css
!notebooks/*notebooks.js
!notebooks/*index.html
!notebooks/*script.js

!notebooks/data
!notebooks/data/*.html